{% extends 'base.html.twig' %}



{% block body %}

<div class="container text-center border">
    <div class="row my-5">
        <div class="col">
            <h1>Contact</h1>
            <p>Vous souhaitez nous contacter ??</p>
        </div>
    </div>
        <div class="row my-5">
        <div class="col">
        <i class="fas fa-phone"></i>
            numéro de tel
        </div>
        <div class="col">
        <i class="fas fa-envelope"></i>
            adresse mail
        </div>

</div>

</div>

{% endblock %}
