{% extends 'base.html.twig' %}

{% block title %}La page des T.A.P{% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-5 text-center">La page des T.A.P :</h1>
    <p>Retrouvez ici les principales infos liées aux Temps d'Activité Périscolaire</p>
        <div class="row">
                   <div class="col-md-4 mt-4">
                        <div class="card profile-card-5">
                            <div class="card-img-block">
                                <img class="card-img-top" src="" alt="image article professeurs"/>
                            </div>
                                <div class="card-body">
                                    <h5 class="card-title">
                                     Le titre
                                    </h5>

                                <h5 class="card-date">
                                La date
                        
                                </h5>
                                <p class="card-text">
                              Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, obcaecati dignissimos illo quasi saepe a maxime vitae, hic quod ipsum quisquam repellat neque est non. Saepe facilis quia enim dolorem.
                              Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium tenetur non voluptate labore omnis unde facilis, soluta aspernatur laboriosam libero debitis obcaecati dolorum aliquam perferendis corrupti pariatur natus dolor at?
                                </p>
        
</div>
</div>

</div>

{% endblock %}
