{% extends 'base.html.twig' %}

{% block title %}La page des questions/réponses{% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-5 text-center">La page des Questions / Réponses :</h1>
    <p>Posez ici vos diverses questions concernant l'école et nous y répondront dès que possible!</p>
        <div class="row">
               
    
              

</div>

</div>
{% endblock %}
