{% extends 'base.html.twig' %}

{% block title %}La page des questions/réponses{% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-5 text-center">La page des Questions / Réponses :</h1>

        <div class="my-5 text-center">
            Posez ici vos diverses questions concernant l'école et nous y répondront dès que possible!
                
                            
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, quaerat veniam nisi quis iusto vero et ipsa numquam illo praesentium ea error quibusdam tempore labore temporibus provident ipsam. Explicabo, obcaecati?</p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim reiciendis obcaecati praesentium doloribus explicabo unde, iure rem quo deserunt natus blanditiis quas illum. Eum quae distinctio corporis aperiam voluptate voluptatum?</p>                  
                                
               
    
              

</div>

</div>
{% endblock %}
