#navContent{
    display: flex;
    justify-content:space-evenly;
    background-color:rgba(0, 0, 0, 0.185);
    border-top: solid black 2px;
}
#navContent a{
    display: flex;
    border: 1px black solid;
    text-decoration: none;

  
}
#navTitle{
    background: url("/public/img/banniere_header.jpg")no-repeat center center fixed;
    background-color: rgb(218, 127, 23);
    position: sticky;

    
}
 #mep_infos{
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;



}
#mep_infos_gauche{

   margin-left: 5%;

}

#mep_infos_droit{
    padding-left: 5%;

}
#mep_milieu_droite_contact{
    display: flex;
   flex-direction: column;
    padding-left: 5%;

}

fieldset{
    display: flex;
    flex-direction: column;
    border-style: groove;
    border-radius: 8px;
    background-color: rgba(213, 226, 228, 0.26);
    padding-left: 250px;
    padding-right: 250px;

} 
footer{

    border-top:solid black 2px ;
    background-color: rgba(23,162,184);
    display: flex;
    justify-content: space-around;
    border-radius: 10%;
    padding-top: 1%;
   
    margin-top: 10%;
}
footer a,p{
    text-decoration: none;
    font-size: 135%;
 

}
#navbar{
    padding: 2%;
    font-size: 135%;
}
