{% extends 'base.html.twig' %}

{% block body %}

<div class="container-fluid row justify-content-center my-5">
    <div class="col-md-6">
        <h1 class="text-center">
            Connexion
        </h1>
        <form action="" method="POST">
            <div class="form-group">
                <label for="username">Nom d'utilisateur:</label>
                <input type="text" required name="_username" class="form-control" placeholder="Nom d'utilisateur" id="username">
            </div>
            <div class="form-group">
                <label for="password">Mot de passe:</label>
                <input type="password" required name="_password" class="form-control" placeholder="Mot de passe" id="password">
            </div>
            {% if error %}
                <div class="alert alert-danger text center">
                    <p>Erreur lors de l'authentification</p>
                </div>
            {% endif %}
            <div class="text-center">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-user-lock"></i>
                    Se connecter
                </button>
            
            </div>

        </form>
    </div>
</div>




{% endblock %}
