{% extends 'base.html.twig' %}

{% block title %}Nouvel Utilisateur{% endblock %}

{% block body %}
    <div class="container mt-5" id="form">
        <h1>Nouvel Utilisateur</h1>

        {{ include('utilisateur/_form.html.twig') }}

        <a class="btn btn-warning" href="{{ path('utilisateur_index') }}">Retour</a>
    </div>
    
{% endblock %}
