<footer>
    <div>
        <p>
        <a href="https://www.google.com/maps/place/3+Rue+de+la+Mairie,+72650+Aign%C3%A9/@48.0651081,0.117415,17z/data=!3m1!4b1!4m5!3m4!1s0x47e2877400b377c5:0x4d7536de0ced6a39!8m2!3d48.0651081!4d0.1196037" target="blank">3 rue de la mairie, 72650 AIGNE</a>
        </p>
    </div>
    <div>
        <p>
        <a href="mailto:ce0720492U@ac-nantes.fr" class="mailto" id="mailto">ce0720492U@ac-nantes.fr</a>
        </p>
    </div>
    <div>
        <p>
        <a href="tel:+0243256347" class="tel">02 43 25 63 47</a>
        </p>
    </div>
        <div>
        <p>
        (c) 2020 Tous droits réservés
        </p>
    </div>
</footer>