{% extends 'base.html.twig' %}



{% block body %}

<div class="container text-center border">
    <div class="row my-5">
        <div class="col">
            <h1>La page d'accueil du périscolaire</h1>
            
        </div>
    </div>
  

</div>



{% endblock %}
