{% extends 'base.html.twig' %}



{% block body %}

<div class="container">
    <h1 class="my-5 text-center">Retrouvez ici les articles des parents d'élèves :</h1>
        <div class="row">
               {% for actuParents in actuParentsEleves %}
                    <div class="my-5 text-center">
                        <div class="card profile-card-5">
                            <div class="card-img-block">
                                <img class="card-img-top" src="{{ actuParents.image }}" alt="image article parents d'élèves"/>
                            </div>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        {{ actuParents.titre }}
                                    </h5>

                                <h5 class="card-date">
                                    Date de l'article :
                                    {{ actuParents.date|date("m/d/Y") }}
                        
                                </h5>
                                <p class="card-text">
                                    {{ actuParents.article}}
                                </p>
        
</div>
</div>
</div>


                {% endfor %}
    




{% endblock %}
